<% layout("layouts/boilerplate") %>

<body>

<div class="container text-center mt-3 min-vh-100 d-flex flex-column justify-content-center">
  
  <!-- Icon -->
  <div class="icon-circle mb-4">
    ✔
  </div>

  <!-- Heading -->
  <h4>🎉 Congratulations, Your profile is 100% complete!</h4>
  <p class="text-muted mx-auto" style="max-width: 500px;">
    Donec hendrerit, ante mattis pellentesque eleifend, tortor urna malesuada ante, eget aliquam nulla augue hendrerit ligula. Nunc mauris arcu, mattis sed sem vitae.
  </p>

  <!-- Buttons -->
  <div class="d-flex justify-content-center gap-2 mt-3">
    <a href="/dashboard" class="btn  btn-profile btn-dashboard">View Dashboard</a>
    
  </div>

  <!-- Footer -->
  <footer class="mt-auto pt-5">
    © 2021 Jobpilot - Job Board. All rights reserved
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>